{% extends 'base.html.twig' %}


		{% block tableau %}
		<div class="row">
			<div class="col-md-12">
				<table class="table table-hover table-bordered border-dark">
					<thead>
						<tr>
							<th>
								<center>Stages de {{nom}}</center>
							</th>
						</tr>
					</thead>
					<tbody>
						{% for stageCourant in stages %}

						<tr class="table-active">
							<td>
    							<a href="{{path('pro_stage_stage',{id:stageCourant.id})}}"><center>{{stageCourant.intitule}}</center></a>
							</td>
						</tr>

						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		{% endblock %}
