{% extends 'base.html.twig' %}

{% block titrePage %}
    Filtre par Entreprise
{% endblock %}

		{% block tableau %}
		<div class="row">
			<div class="col-md-12">
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th>
								<center>Stages</center>
							</th>
						</tr>
					</thead>
					<tbody>
						{% for stageCourant in stages %}

						<tr class="table-active">
							<td>
    							<a href="{{path('pro_stage_stage',{id:stageCourant.id})}}"><center>{{stageCourant.intitule}}</center></a>
							</td>
						</tr>

						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		{% endblock %}

		{% block boutons %}
		<div class="row">
			<div class="col-md-6">
				<a href="{{path('pro_stage_entreprises')}}">
					<button type="button" class="btn btn-secondary btn-lg btn-block">
						Retour
					</button>
				</a>
			</div>
		</div>
		{% endblock %}
