{% extends 'base.html.twig' %}




{% block tableau %}
<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered border-dark">
      <thead>
        <tr>
          <th>
            <center>Stages</center>
          </th>
          <th>
            <center>Entreprises</center>
          </th>
          <th>
            <center>Formations</center>
          </th>
        </tr>
      </thead>
      <tbody>
				{% for stageCourant in stages %}
        <tr class="table-active">
          <td>
              <a href="{{path('pro_stage_stage',{id:stageCourant.id})}}"><center>{{stageCourant.intitule}}</center></a>
          </td>
          <td>
              <center>{{stageCourant.entreprise.nom}}</center>
          </td>
          <td>
						{% for formation in stageCourant.formation %}
            <center>{{formation.intitule}}</center>
						{% endfor %}
          </td>
        </tr>
				{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
