<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
          {% block title %}Pro Stage{% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- BLOC DES FEUILLES DE STYLE -->
        {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('/css/fontello.css')}}">
        <link rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}">
        {% endblock %}

    </head>
    <body>
        <div class="container-fluid">
        <!-- BLOC TITRE -->
        {% block titre %}
        <div class="container-fluid">
        	<div class="row">
        		<div class="col-md-12">
        			<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
        <div class="col-md-12">
          <h3 class="text-center text-info">
            {% block titrePage %}{% endblock %}
          </h3>
        </div>
        			</nav>
        		</div>
        {% endblock %}

        <!-- BLOC DU TABLEAU -->
        {% block tableau %}

        {% endblock %}

        <!-- BLOC Text -->
        {% block text %}

        {% endblock %}

        <!-- BLOC DES BOUTONS -->
        {% block boutons %}

        {% endblock %}

        <!-- BLOC JAVASCRIPTS -->
        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="{{asset('/js/bootstrap.min.js')}}"></script>
        {% endblock %}
        </div>
    </body>
</html>
